.anthill {
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
}

.anthill p {
    color: white;
    text-align: center;
    margin: 5px;
}