.pheromone {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
}

.pheromone-anthill {
    background-color: rgba(45, 47, 177, 0.5);
}

.pheromone-food {
    background-color: rgba(138, 14, 14, 0.5);
}